.DS_Store
node_modules
/.svelte
/build
/functions
packages/example/src/node_modules/@sapper/
yarn-error.log
__sapper__/
.vscode

build
bin
/example/generated

.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
