.DS_Store
node_modules
yarn-error.log
.vscode

build
bin
/example/$houdini
/example/.svelte

.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
__tests__

example/.svelte-kit
example/functions

yarn-error.log
