node_modules

.DS_Store
.vscode

packages/*/build
bin

.pnp.*
__tests__

.svelte-kit
functions
$houdini

/playground.js

.turbo
build/**
dist/**
.next/**
coverage

vite.config.*.timestamp-*

.vercel
.netlify

test-results