#doc-content h1,
h2,
h3,
h4 {
	margin-bottom: 30px;
	font-family: 'Lato', serif;
	font-weight: 700;
}

#doc-content h1 {
	font-family: 'Lato', serif;
	font-size: 40px;
}

#doc-content h2 {
	padding-top: 2.25rem;
	font-size: 28px;
}

#doc-content h3 {
	padding-top: 1rem;
	font-size: 22px;
	line-height: 1.4;
	margin-bottom: 18px !important;
}

#doc-content h4 {
	font-size: 1.25rem;
	padding-top: 2rem;
}

#doc-content p {
	font-size: 18px;
	line-height: 28px;
	font-family: 'Lato', sans-serif;
	font-weight: 500;
	padding-bottom: 30px;
}

#doc-content ul,
ol {
	margin-top: -20px;
	margin-bottom: 30px;
}

#doc-content li {
	font-size: 18px;
	font-family: 'Lato', sans-serif;
	margin-left: 45px;
	margin-top: 5px;
	line-height: 24px;
}

#doc-content ol > li {
	list-style: decimal;
}

#doc-content ul > li {
	list-style: disc;
}

#doc-content a {
	color: var(--link-color);
	text-decoration: none;
	white-space: nowrap;
}

#doc-content pre {
	margin-bottom: 30px;
	background: #11141a;
	border-radius: 10px;
	padding: 2.5rem;
	overflow-x: auto;
}

p > code,
li > code,
h3 > code,
h4 > code {
	/* background: #ffffff; */
	/* padding: 2px 6px; */
	border-radius: 4px;
	font-size: 16px;
	padding: 1px 4px;
	font-family: 'Roboto Mono', monospace;
	white-space: nowrap;
	color: var(--text_highlight);
	background-color: var(--text_highlight_background);
}

.message > p > code {
	color: white !important;
}

.message p a {
	color: white !important;
	text-decoration: underline !important;
}

h3 > code {
	font-size: 20px;
}

#doc-content ol {
	margin-top: -1rem;
}

.table-of-contents {
	margin-top: -1rem !important;
}

.table-of-contents li {
	font-size: 1.25rem !important;
	line-height: 2.5rem;
	height: 2.5rem;
}

#doc-content strong {
	font-weight: bolder;
}

#doc-content blockquote {
	border-left: 15px solid var(--saturate);
	padding-left: 40px;
	margin-bottom: 30px;
}

#doc-content blockquote p {
	padding-bottom: 0px;
}
