name: Publish

on:
    push:
        branches:
            - main

jobs:
    release:
        name: Release
        runs-on: ubuntu-latest
        steps:
            - name: Checkout Repo
              uses: actions/checkout@v2
              with:
                  # This makes Actions fetch all Git history so that Changesets can generate changelogs with the correct commits
                  fetch-depth: 0

            - name: Setup Node.js 12.x
              uses: actions/setup-node@v2
              with:
                  node-version: 12.x

            - name: Install Dependencies
              run: yarn

            - name: Check Changeset Status
              id: changesets
              uses: changesets/action@v1

            - name: Publish
              # only publish if there are no changesets after the merge
              if: steps.changesets.outputs.hasChangesets == 'false'
              run: yarn publish
              env:
                  NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
