name: CI Checks

# run this workflow on specific events in github
on:
    # pull requests to master
    pull_request:
        paths:
            - '**'

    # every commit on master
    push:
        branches:
            - main

jobs:
    format:
        name: Formatting
        runs-on: ubuntu-latest

        steps:
            - name: Use Node.js 14.2
              uses: actions/setup-node@v1
              with:
                  node-version: 14.2

            - name: Checkout source
              uses: actions/checkout@master
              with:
                  ref: ${{ github.ref }}

            - name: Install dependencies
              run: yarn install

            - name: Check prettier
              run: yarn format:check

    tests:
        name: Tests
        runs-on: ubuntu-latest

        steps:
            - name: Use Node.js 14.2
              uses: actions/setup-node@v1
              with:
                  node-version: 14.2

            - name: Checkout source
              uses: actions/checkout@master
              with:
                  ref: ${{ github.ref }}

            - name: Install dependencies
              run: yarn install

            - name: Build packages
              run: yarn build

            - name: Tests
              run: yarn tests

    generate:
        name: Generate runtime for example application
        runs-on: ubuntu-latest

        steps:
            - name: Use Node.js 14.2
              uses: actions/setup-node@v1
              with:
                  node-version: 14.2

            - name: Checkout source
              uses: actions/checkout@master
              with:
                  ref: ${{ github.ref }}

            - name: Install dependencies
              run: yarn install

            - name: Build packages
              run: yarn build

            - name: Generate runtime
              run: cd example && yarn generate
