name: CI Checks

# run this workflow on specific events in github
on:
    # pull requests to master
    pull_request:
        paths:
            - '**'

    # every commit on master
    push:
        branches:
            - main

jobs:
    format:
        name: Formatting
        runs-on: ubuntu-latest

        steps:
            - name: Setup Node
              uses: actions/setup-node@v1
              with:
                  node-version: 16.14.2

            - name: Checkout source
              uses: actions/checkout@master
              with:
                  ref: ${{ github.ref }}

            - name: Install Dependencies
              run: yarn install
              env:
                  YARN_ENABLE_IMMUTABLE_INSTALLS: false

            - name: Check prettier
              run: yarn format:check

            # - name: Integration lint
            #   run: yarn workspace integration lint

            # - name: Integration check
            #   run: yarn workspace integration check

    tests:
        name: Tests
        runs-on: ubuntu-latest

        steps:
            - name: Setup Node
              uses: actions/setup-node@v1
              with:
                  node-version: 16.14.2

            - name: Checkout source
              uses: actions/checkout@master
              with:
                  ref: ${{ github.ref }}

            - name: Install Dependencies
              run: yarn install
              env:
                  YARN_ENABLE_IMMUTABLE_INSTALLS: false

            - name: Build packages
              run: yarn build

            - name: Tests
              run: yarn tests

    integration:
        name: Integration Tests
        runs-on: ubuntu-latest

        steps:
            - name: Setup Node
              uses: actions/setup-node@v1
              with:
                  node-version: 16.14.2

            - name: Checkout source
              uses: actions/checkout@master
              with:
                  ref: ${{ github.ref }}

            - name: Install Dependencies
              run: yarn install
              env:
                  YARN_ENABLE_IMMUTABLE_INSTALLS: false

            - name: Build packages
              run: yarn build

            - name: Install Playwright
              run: npx playwright install --with-deps

            - name: Integration Tests
              run: yarn tests:integration

            - name: Upload test results
              if: always()
              uses: actions/upload-artifact@v2
              with:
                  name: playwright-report
                  path: integration/playwright-report
